@font-face {
    font-family: "Dosis";
    src: url("/assets/fonts/Dosis-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
    font-style: normal;
}

:root {
    --green: #91f5ad;
    --blue: #0070bb;
    --dark-blue: #0257a5;
    --background: #1a1a1a;
    --white: #ffffff;
    --teal: #6dd4b1;
    --cyan: #49b3b4;
    --light-blue: #2592b8;
}

body.light {
    --background: #ffffff;
    --text: #1a1a1a;
}